<p *ngIf="question.pending">Loading...</p>
<div *ngIf="question.data">
  <div>
    Author: {{ question.data.author }}
  </div>
  <div>
    Title: {{ question.data.title }}
  </div>
  <div>
    Content: {{ question.data.body }}
  </div>
  <div>
    REPLIES: {{ question.data.children }}
  </div>
  <div>
    PAYOUT: {{ question.data.pending_payout_value }}
  </div>
  <div>
    <app-vote-button [author]="question.data.author" [permlink]="question.data.permlink" [voters]="question.data.active_votes"></app-vote-button>
  </div>
  <app-replies [replies]="replies | async"></app-replies>
</div>