@import "src/theme/theme-variables";

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  background-color: $header-primary;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand {
  line-height: 50px;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  color: $font-primary;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
