@import "src/theme/theme-variables";

.root {
    background: $header-background;
    border-bottom: 1px solid $header-border;
    padding: $space-1;
}

.menu-icon-container {
    font-size: 1.2em;
    display: inline-block;
    margin-right: $space-1;
}

.title-container {
    display: inline-block;

    .title {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;

        .title-base {
            color: $header-primary-text;
        }

        .title-highlight {
            color: $header-highlighted-text;
        }
    }
}
