  <h1>Submit a Question!</h1>
  <form (ngSubmit)="onSubmit()" #questionForm="ngForm">
    <div class="form-group">
      <label for="title">Username</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.uid" name="name" />
    </div>

    <div class="form-group">
      <label for="title">PostingKey</label>
      <input type="text" class="form-control" id="posting-key" required [(ngModel)]="user.postKey" name="posting-key" />
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" />
    </div>

    <div class="form-group">
      <label for="body">Text</label>
      <textarea type="text" class="form-control" id="body" required [(ngModel)]="model.body" name="body"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

