<mat-card>
  <div>
    AUTHOR: {{ question.author }}
  </div>
  <div>
    TITLE: {{ question.title }}
  </div>
  <div>
    MESSAGE: {{ question.body | slice:0:256 }}
  </div>
  <div>
    REPLIES: {{ question.children }}
  </div>
  <div>
    PAYOUT: {{ question.pending_payout_value }}
  </div>
  <div>
    <app-vote-button [author]="question.author" [permlink]="question.permlink" [voters]="question.active_votes"></app-vote-button>
  </div>
  <div>
      <a [routerLink]="['/question', question.author, question.permlink]">
        QUESTION DETAILS LINK
      </a>
  </div>
</mat-card>

