//custom resets
@import "theme/reset";

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~font-awesome/scss/font-awesome.scss";

// Theme customization
@import "theme/theme";

// Typography
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

// Tags
HTML {
    color: $font-primary;
    font-family: Roboto, Tahoma, Verdana, Geneva, sans-serif;
    font-size: 0.9em;
    height: 100%;
}

BODY {
    height: 100%;
}